ul {
    display:flex;
    top:0px;
    z-index:10;
    padding-left:0;
  }
  li {
    list-style:none;
    flex:1;
  }
  li:last-child {
    border-right:1px solid #DDD;
  }
  .pricing-table-header {
    width:100%;
    border: 1px solid #DDD;
    border-right:0;
    border-top:0;
    padding: 10px;
    background:#FFF;
    font-size:14px;
    font-weight:bold;
    height:60px;
    color:#999
  }
  li.active  .pricing-table-header {
    background:#F5F5F5;
    color:#000;
  }
  table { border-collapse:collapse; table-layout:fixed; width:100%; }
  th { background:#F5F5F5; display:none; }
  td, th {
    height:53px
  }
  td,th { border:1px solid #DDD; padding:10px; empty-cells:show; }
  td,th {
    text-align:left;
  }
  td+td, th+th {
    text-align:center;
    display:none;
  }
  td.default {
    display:table-cell;
  }
  .bg-gold {
    border-top:3px solid rgb(255,213,73);
  }
  .bg-blue {
    border-top:3px solid rgba(62,90,245,1);
  }
  .bg-green {
    border-top:3px solid rgb(47,200,208);
  }
  .sep {
    background:#F5F5F5;
    font-weight:bold;
  }
  .txt-l { font-size:28px; font-weight:bold; }
  .txt-top { position:relative; top:-9px; left:-2px; }
  .tick { font-size:18px; color:rgba(62,90,245,1); }
  .hide {
    border:0;
    background:none;
  }
  
  @media (min-width: 993px) {
    .pricing-table-ul {
      display:none;
    }
    td,th {
      display:table-cell !important;
    }
    td,th {
      width: 330px;
    
    }
    td+td, th+th {
      width: auto;
      cursor: pointer;
    } 
  }

  .sub-txt {
      font-size: 10px;
      line-height: 8px;
  }
