body {
    font-family: 'Lato', sans-serif;
}

/* Rules for sizing the icon. */
.icon-sm { 
    font-size: 1.125em !important; 
}
.icon-md { 
    font-size: 2em !important; 
}
.icon-lg { 
    font-size: 3em !important; 
}
.icon-xl { 
    font-size: 4em !important; 
}
.icon-xxl { 
    font-size: 5em !important; 
}

#head {
    background: linear-gradient(rgba(38,147,164,.5), rgba(38,147,164,.5)), url("../img/md-bg1.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.transition {
    background: linear-gradient(rgba(38,147,164,.8), rgba(38,147,164,1)); 
    height: 2.5em;
}

.list-group-item {
    padding: .25em !important;
}